body, input, textarea, button {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

body {
    text-align: center;
}

button {
    cursor: pointer;
}

#equationDisplay {
    font-size: 30px;
    line-height: 87px;
    min-height: 87px;
}

input, #submitUserInputBtn, #nextEquBtn {
    border: none;
    outline: none;
    background-color: none;
}

.userInput {
    display: inline-block;
    border-radius: 10px;
    border: 2px solid #b088f9;
    padding: 5px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.10);
}

#userAnwserInput {
    font-size: 16px;
    text-align: center;
}

#submitUserInputBtn {
    border-radius: 10px;
    font-size: 16px;
    line-height: 38px;
    width: 60px;
    background-color: #da9ff9;
}

#answerContainer {
    height: 78px;
}

.correct {
    color: #83e4b5;
}

.incorrect {
    color: #e40017;
}

.correctAnwser {
    text-decoration: underline;
    font-size: 20px;
}

#nextEquBtn {
    line-height: 38px;
    font-size: 22px;
    background-color: #da9ff9;
    border-radius: 10px;
    width: 65px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.10);
}

.sliderContainer {
    margin-top: 50px;
}

.sliderRangeDisplay {
    display: inline-block;
    width: 150px;
    font-weight: lighter;
}

#sliderMin {
    position: relative;
    right: 3px;
    float: left;
}

#sliderValue {
    position: relative;
    left: 10px;
    font-weight: normal;
}

#sliderValueInput {
    position: relative;
    bottom: 1px;
    font-size: 16px;
    width: 30px;
    text-align: center;
}

#sliderMax {
    position: relative;
    left: 13px;
    float: right;
}

.slidecontainer {
    width: 100%;
}

.slider {
    border: none;
    -webkit-appearance: none;
    width: 150px;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    border: none;
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #b088f9;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #b088f9;
    cursor: pointer;
}

.sliderInfo {
    font-size: 12px;
    color: gray;
    margin-top: 15px;
}